 

html, body { 
  font-family: "Inter", sans-serif !important; 
  overflow-x: hidden !important;
} 

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.inputstyle{ 
  border: 1px solid #BDBDBD;
  padding-left: 16px;
  font-size: 14px;
  height: 45px;
  border-radius: 6px;
  width: 100% !important;
}